# Disable all esp_lcd panels (we don't use a display)
CONFIG_ESP_LCD=y
CONFIG_ESP_LCD_RGB_NONE=y
CONFIG_ESP_LCD_SKIP_COMPONENT=y

CONFIG_SPIRAM=y
CONFIG_SPIRAM_MODE_QUAD=y
CONFIG_SPIRAM_MODE_OCT=n
CONFIG_SPIRAM_SPEED_40M=y
CONFIG_SPIRAM_SIZE=8388608
CONFIG_ESP_SYSTEM_USE_SPIRAM=y
CONFIG_ESP32S3_INSTRUCTION_CACHE_32KB=y
CONFIG_ESP32S3_DATA_CACHE_64KB=y
